# Get your Google Gemini API Key here https://cloud.google.com/vertex-ai
#Sales.growth.digital#GOOGLE_GENERATIVE_AI_API_KEY=AIzaSyCvPhqSyvJ9NJK1a9rrIEaNaue9duBa0RI
#etiezn#GOOGLE_GENERATIVE_AI_API_KEY=AIzaSyA5pg-3a8YHFzb5Wi55J-GMapFWsM96KEU
GOOGLE_GENERATIVE_AI_API_KEY=AIzaSyApCE-tOHuLc8TU7oBAEhxMEiX1Ddqb8p8
# Generate a random secret: https://generate-secret.vercel.app/32 or `openssl rand -base64 32`
AUTH_SECRET=6f8c4de788440ca0f13bad2809ce90aa

/*
 * The following keys below are automatically created and
 * added to your environment when you deploy on vercel
 */

# Instructions to create kv database here: https://vercel.com/docs/storage/vercel-blob
BLOB_READ_WRITE_TOKEN=****

# Instructions to create a database here: https://vercel.com/docs/storage/vercel-postgres/quickstart
POSTGRES_URL=postgres://neondb_owner:npg_Xb5qaL9fpsmT@ep-black-sea-abgcjm1q-pooler.eu-west-2.aws.neon.tech/neondb?sslmode=require


POSTGRESS_URL_NO_SSL=postgres://neondb_owner:npg_Xb5qaL9fpsmT@ep-black-sea-abgcjm1q-pooler.eu-west-2.aws.neon.tech/neondb